
.container {
    width:600px;
    height:300px;
    background-color: yellow;
    display:inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    /* justify-items:center;
    align-items:center; */
    place-items: center;
}

.item {
    width:100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.one {
    place-self: start;
}
/* .one {
    justify-self: end;
    align-self: end;
} */

 /* .one {
    grid-column: 1 /span 2;
} 

.two {
    /grid-row-start:1;
    grid-row-end:3; 
    grid-row: 1/4;
}  */